.img-sanificazione {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/assets/images/sanificazione-ozono.jpg');
    background-size: cover;
    background-position: center;
}

.img-sanificazione-dark {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/assets/images/sanificazione-ozono.jpg');
    background-size: cover;
    background-position: center;
}

.img-meat {
    background-image: url('https://images.unsplash.com/photo-1628543108325-1c27cd7246b3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80');
    background-size: cover;
    background-position: center;
    height: 80rem;
}

.img-meat2 {
    background-image: url('https://images.unsplash.com/photo-1557221016-f81ec6b1a46b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    background-position: center;
    height: 80rem;
}

.img-cheese {
    background-image: url('https://images.unsplash.com/photo-1558221693-89a565d7ecd8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=735&q=80');
    background-size: cover;
    background-position: center;
    height: 80rem;
}

.img-vegetables {
    background-image: url('https://images.unsplash.com/photo-1533321942807-08e4008b2025?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1959&q=80');
    background-size: cover;
    background-position: center;
    height: 80rem;
}

.img-beverage {
    background-image: url('https://images.unsplash.com/photo-1559539620-ec0c0f46e19e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80');
    background-size: cover;
    background-position: center;
    height: 80rem;
}

.img-seafood {
    background-image: url('https://images.unsplash.com/photo-1585545335512-1e43f40d4999?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80');
    background-size: cover;
    background-position: center;
    height: 80rem;
}

.img-bakery {
    background-image: url('https://images.unsplash.com/photo-1589367920969-ab8e050bbb04?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80');
    background-size: cover;
    background-position: center;
    height: 80rem;
}


.img-customer {
    background: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)), url('https://images.unsplash.com/photo-1592861956120-e524fc739696?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    background-position: right;
}

.img-water {
    background: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url('water.jpg');
    background-size: cover;
    background-position: right;
}

/* HOMEPAGE -------------------------------------------------------- */

.img-world {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/ozono.jpg');
    background-size: cover;
    background-position: center;
}

.img-ozone-therapy {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/assets/images/ozonoterapia.jpg');
    background-size: cover;
    background-position: center;
    height: 80rem;
}

.img-ozone-sanitation {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/assets/images/sanificazione-ozono.jpg');
    background-size: cover;
    background-position: center;
    height: 80rem;
}

.img-ozone-general {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('assets/images/ozono-scienza.jpg');
    background-size: cover;
    background-position: bottom;
    height: 80rem;
}

/* HOMEPAGE -------------------------------------------------------- */

.img-contacts {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('assets/images/ozonogroup-contatti.jpg');
    background-size: cover;
    background-position: bottom;
    height: 80rem;
}

.img-mission {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('assets/images/ozonogroup-missione-aziendale.jpg');
    background-size: cover;
    background-position: bottom;
    height: 80rem;
}

.img-mission-technology {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('assets/images/ozonogroup-missione-tecnologia.jpg');
    background-size: cover;
    background-position: center;
    height: 40rem;
}

.img-mission-people {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('assets/images/ozonogroup-missione-salute.jpg');
    background-size: cover;
    background-position: center;
    height: 40rem;
}

.img-mission-leader {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('assets/images/ozonogroup-missione-leader.jpg');
    background-size: cover;
    background-position: center;
    height: 40rem;
}