@font-face {
    font-family: "inter-regular";
    src: url('/assets/fonts/Inter/static/Inter_18pt-Regular.ttf');
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: inter-regular, sans-serif;
}

.container-xl {
    max-width: 1600px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}