* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d4ed8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.h-full {
    height: 100%;
}

.h-screen {
    height: 100vh;
}

h1 {
    color: white;
}